#!/usr/bin/bash -i
set -exo pipefail

# Check whether GPUs work and whether Internet is available
nvidia-smi
ping -c1 google.com

if [ ! -d "${HOME}/miniforge3" ]; then
    NAME="Miniforge3-$(uname)-$(uname -m).sh"
    URL="https://github.com/conda-forge/miniforge/releases/latest/download/${NAME}"
    curl "${URL}" -L -o /tmp/Miniforge3.sh
    chmod a+x /tmp/Miniforge3.sh
    /tmp/Miniforge3.sh -b
    rm -f /tmp/Miniforge3.sh

    ~/miniforge3/bin/conda init --all

    # We cannot use exec $SHELL over ssh, so we need to source the rc files
    # manually.
    if [ "${SHELL}" = "/usr/bin/bash" ]; then
        source ~/.bashrc
    elif [ "${SHELL}" = "/usr/bin/zsh" ]; then
        source ${ZDOTDIR:-$HOME}/.zshrc
    else
        echo "Shell ${SHELL} is not supported!"
        exit 1
    fi

    conda install -y python=3.10 tmux parallel git
fi

python3 -m pip install pipx keyring
python3 -m pipx ensurepath
python3 -m pipx install poetry

if [ ! -d "{{ repo_dir }}" ]; then
    mkdir -p "$(dirname "{{ repo_dir }}")"
    git clone "{{ git_repo_url }}" "{{ repo_dir }}"
    cd "{{ repo_dir }}"
    git config user.name "{{ git_user_name }}"
    git config user.email "{{ git_user_email }}"
fi

cd "{{ repo_dir }}"
git checkout "{{ git_ref }}"
git fetch && git pull

python -m keyring --disable 2>/dev/null || true
POETRY_NO_INTERACTION=1 ~/.local/bin/poetry install --sync
